
	/* 
	CSS
	------------------------------------------------------------------------------------------
	@site				sho.com <desktop>
	@project			social
	@file				social.css
	@modified			05.17.12
	@author				ncavanagh
	@desc				
	
	/*
	=:social-sharing
	----------------------------------------------------------------------------------------*/
	.social-sharing { 
		margin-top:20px;
	}	
	
	// note: this creates issues for social-sharing component in the share modal, perhaps would be better written as this:
	// .product-overview social-sharing {...}
	
	.social-sharing .share-component { 
		float:left; 
		margin-left:8px;
		padding-left:9px;
		height:21px;
		border-left:1px solid #45403e; 
	}
		
	.social-sharing .share-component.first {  
		margin:0;
		padding:0; 
		border:0; }
		
	.social-sharing .share-component.fb { /*overflow:hidden;*/ }
	.social-sharing .share-component.fb .connect_comment_widget { display:none; }
	.fb_edge_widget_with_comment span.fb_edge_comment_widget {
	   display:none;
	}
	
	.social-sharing .share-component.twitter { padding-top:0px; }
	
	/* sets a hard width and hidden overflow to prevent get glue into showing check-in number box */
	.social-sharing .share-component.getglue {
	    overflow: hidden;
	    width: 79px;
	}
	
	.movies .social-sharing { 
		margin-top:20px; 
	}
	
	.schedules .social-sharing { 
		margin-top:20px; 
	}
	
	.showtime-anytime .social-sharing {
		margin-top: 5px;
	}
	
	.order-share-modal .social-sharing, .schedules-share-modal .social-sharing {
		margin-top: -15px;
	}
	/* Issues with FB Like/Share button not showing in FF */
	.fb-share-button span, .fb-share-button iframe {
  		min-width: 100px !important;
  		min-height: 20px !important;
	} 
	/* No surrender, No delete! */